@import "./partials/variables";
@import "./partials/navbar";
@import "./partials/main.scss";

.container {
    padding: 2% 5%;
    @include mobile {
        padding-right: 2% 10%;
        width: 100%;
    }
}

.modal {
    display: none;
    background-color: rgba(128, 128, 128, .7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    .modal-main-content {
        border-radius: 5px;
        padding: 1% 2%;
        width: 40%;
        @include mobile {
            width: 85%;
        }
        height: auto;
        margin: 12rem auto;
        background-color: white;

        p {
            font-weight: map-get($fontWeights, "bold");
            color: gray;
            text-align: right;
            @include flexAlign(flex-end, center, row);
            gap: .5rem;

            i {
                font-size: 1.25rem;
                color: map-get($colors, "closeColor");
                cursor: pointer;
                opacity: .85;
            }
        }

        .message {
            opacity: .75;
            color: red;
            margin-top: 1rem;
        }

        .modal-cart {
            @include flexAlign (space-between, center , row);
            margin: 1.5rem auto;

            .cart-info {
                @include flexAlign(flex-start, center, row);
                gap: .5rem
            }

            .button {
                @include flexAlign (space-between, center , row);
                span {
                    font-weight: map-get($fontWeights, "bold");
                    margin-right: .5rem;
                }

                i {
                    color: map-get($colors, "closeColor");
                    opacity: .8;
                    cursor: pointer;
                    font-size: calc((map-get($fontSizes, "small") *7) / 6);
                }
            }
        }

    }
}