@import "./partials/navbar";
@import "./partials/main.scss";

.container {
    padding: 2% 5%;
}

.modal {
    display: none;
    background-color: gray;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .7;
    width: 100vw;
    height: 100vh;
}